
* {
    margin: 0px;
    padding: 0px;
}

body {
    height: 10000px;
    background-color: #fff;
    color: #000;
}
a {
    text-decoration: none;
    color: #fff;
}
/*header*/
.header {
    background-color: #222;
    color: #fff;
    display: flex;
    position: fixed;
    width: 100%;
    height: 60px;
    justify-content: space-between;
}
.title {
    margin-top: 15px;
    font-size: 40px;
}
.header-coment{
    margin: 22px 200px 0 0;
}
.userName {
    text-transform: capitalize;
}
.disconnect {
    margin-top: 20px;
    margin-right: 50px;
}
/*login-form*/
.login {
    position: absolute;
    margin: 300px;
}

/*canvas*/
.canvas {
    margin-left: 10%;
    width: 1075px;
    height: 1079px;
}

.canvas canvas {
    width: 1075px;
    height: 1079px;
}

.toolbar {
    bottom: 100px;
    position: fixed;
    display: flex;
}

#button {
    top: -55px;
    left: 345px;
}

#save {
    font-size: 120%;
    width: 80px;
    height: 50px;
}

#clear {
    font-size: 120%;
    width: 80px;
    height: 50px;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

li {
    cursor: pointer;
    cursor: hand;
    display: inline-block;
    border: 1px solid #000;
    width: 50px;
    height: 50px;
}
/*footer*/
#footer {
    width: 100%;
    margin: 0;
    padding: 20px;
    padding-left: 40px;
    bottom: 0;
    position: fixed;
    background: #222;
    color: #ccc;
}