
* {
    margin: 0px;
    padding: 0px;
}

body {
    margin-left: 0;
    height: 10000px;
    background-color: #fff;
    color: #000;
}
a {
    text-decoration: none;
    color: #fff;
}
/*header*/
.header {
    background-color: #222;
    position: fixed;
    width: 100%;
    display: block;
    z-index: 5;
}
.header-main {
    color: #fff;
    display: flex;
    height: 60px;
    justify-content: space-between;

}
.logo-title {
    display: flex;
}
.title {
    margin-top: 15px;
    font-size: 40px;
}
.header-coment{
    margin: 22px 200px 0 0;
}
.userName {
    text-transform: capitalize;
}
.disconnect {
    box-shadow: 0.4rem 0.4rem 1.3rem 0.5rem rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    margin-right: 50px;
}
.toggle_wrap:last-of-type {
    border-bottom: 1px solid gray;
}

.toggle_switch {
    position: relative;
    cursor: pointer;
    padding: 5px 10px;
}

.toggle_switch.open {
    border-bottom: 1px solid gray;
}

.toggle_switch:hover {
    opacity: 0.5;
}

.toggle_switch::after {
    content: "";
    display: inline-block;
    width: 18px;
    height: 11px;
    background: url(../img/arrow_down.svg) no-repeat center center;
    background-size: contain;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 20px;
    transition: transform .2s;
}

.toggle_switch.open::after {
    transform: rotateZ(180deg);
    top: 46%;
}

.toggle_contents {
    display: none;
    padding: 5px 10px;
}
.toggle_contents { 
    color: #ccc;
}
.toggle_contents p {
    padding: 20px 14px;
}
.toggle_contents p:hover {
    opacity: 1.8;
}
/*login-form*/
.form-wrapper {
    position: relative;
    top: 200px;
    background: #fafafa;
    margin: 0em auto;
    max-width: 370px;
}
form {
    padding: 0 1.5em;
}

.form-item {
    margin-bottom: 0.75em;
    width: 100%;
}
.form-item input {
    background: #fafafa;
    border: none;
    border-bottom: 2px solid #e9e9e9;
    color: #666;
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    height: 50px;
    transition: border-color 0.3s;
    width: 100%;
}

.form-item input:focus {
    border-bottom: 2px solid #c0c0c0;
    outline: none;
}

.button-panel {
    margin: 2em 0 0;
    width: 100%;
}

.button-panel .button {
    background: #000;
    border: none;
    color: #fff;
    cursor: pointer;
    height: 50px;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2em;
    letter-spacing: 0.05em;
    text-align: center;
    text-transform: uppercase;
    transition: background 0.3s ease-in-out;
    width: 100%;
}

.button:hover {
    background: #ee3e52;
}

/*canvas*/
.display {
    left: -10px;
    cursor: crosshair;
    width: 1075px;
    height: 1079px;
    position: absolute;
    top:70px;
}
.canvas {
    width: 1075px;
    height: 1079px;
}

.canvas canvas {
    background-image: url(../image/20220618044054_1.jpg);
    /* 画像のURLを指定       */
    background-repeat: no-repeat;
    width: 1075px;
    height: 1079px;
}

.toolbar {
    left: 50px;
    bottom: 100px;
    position: fixed;
}

#button {
    top: -55px;
    left: 345px;
}

#save {
    font-size: 120%;
    width: 80px;
    height: 50px;
}
#save-from {
    background-color: #fff;
    position: fixed;
    z-index: 6;
    top: 300px;
    display: none;
}

#clear {
    font-size: 120%;
    width: 80px;
    height: 50px;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

li {
    cursor: pointer;
    cursor: hand;
    display: inline-block;
    border: 1px solid #000;
    width: 50px;
    height: 50px;
}
/*footer*/
#footer {
    width: 100%;
    margin: 0;
    padding: 20px;
    padding-left: 40px;
    bottom: 0;
    position: fixed;
    background: #222;
    color: #ccc;
}