<header class="header">
    <h2 class="title">SCUM MAP</h2>
    <% if(session !==undefined){ %>
        <p class=" header-coment">Hello <%= user %></p>
    <%}%>
    <% if(session !==undefined){ %>
        <a href="/disconnect">Disconnect</a>
    <%}%>
</header>