<header class="header">
    <div class="header-main">
        <div class="logo-title">
            <img src="../../public/image/NGUlogo.png" alt="logo">
            <h2 class="title">SCUM MAP</h2>
        </div>
        <% if(session !==undefined){ %>
            <p class=" header-coment">Hello <span class="userName"><%= user %></span></p>
        <%}%>
        <% if(session !==undefined){ %>
            <div class="disconnect">
                <a href="/disconnect">Disconnect</a>
            </div>
        <%}%>
    </div>
    <div class="toggle_wrap">
        <div class="toggle_switch">
        </div>
        <div class="toggle_contents">
            <p><a href="https://scum-map.com/en/" target="_blank">https://scum-map.com/en/</a></p>
            <p><a href="https://scum.fandom.com/wiki/Scum_Wiki" target="_blank">https://scum.fandom.com/wiki/Scum_Wiki</a></p>
        </div>
    </div>
</header>