<form action="/" method="POST">
    <label>NAME</label>
    <input type="text" name="name"required>
    <label>Password</label>
    <input type="password" name="password" required>
    <button type="submit">Login</button>
</form>