<div class="display">
    <div class="canvas">
        <canvas id="myCanvas"></canvas>
    </div>
    <div class="toolbar">
        <ul>
            <li style="background-color:#000"></li>
            <li style="background-color:#f00"></li>
            <li style="background-color:#0f0"></li>
            <li style="background-color:#00f"></li>
            <li style="background-color:#ff0"></li>
            <li style="background-color:#fff"></li>
        </ul>
    
        <div id="button">
            <input type="button" id="clear" value="Clear" />
            <input type="button" id="ScaleUp" value="ScaleUp" style="display: none;">
            <input type="button" id="ScaleDown" value="Scaledown"style="display: none;">
        </div>
    </div>

</div>
