<form action="/users/create" method="POST">
    <label>name</label>
    <input type="text" name="name" autofocus required>
    <label>Password</label>
    <input type="password" name="password" required>
    <button type="submit">Register</button>
</form>